# secret
.vscode
.vscode/
.envrc

# debug files
a.out
a.out.dSYM
.test.c
.monotest.c
# gnl.sh
# .main.c
# .github
# .github/
# .src
# .src/
# .srcA.txt
# .srcB.txt
# .srcC.txt
# README.md

# extra files
*.o
*.a
