# secret
.vscode
.vscode/
.envrc

# debug files
a.out
a.out.dSYM
.testlog.txt

# .test.c
# .test_bonus.c
# .runtest.c
# gnl.sh
# mono.sh
# mono_bonus.sh
# .main.c
# .github
# .github/
# .src
# .src/
# README.md

# extra files
*.o
*.a
